.square-box{
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 7px;
}

.background-light-grey{
    background-color: #eee;
}

.background-white{
    background-color: #fff;
}

.spinning {
  display: inline-block;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

table.dataTable td,
table.dataTable th {
    text-align: center !important;
    vertical-align: middle;
}